<div id="card<%= session_id %>">
    <div name="waiting">
        <p>Waiting for the CryoSPARC server to start...</p>
    </div>
    <div name="warning" style="display:none;">
        <p class="alert alert-danger" role="alert">
            It looks like you're missing <a href="https://github.com/wrightquist/ood_clientside_linkfix" rel="noopener" target="_blank">this browser addon</a>, which is required to use the CryoSPARC webapp.  Please install it and reload this page before attempting to connect to cryosparc.
        </p>
    </div>
    <div name="ready" style="display:none;">
        <p>Server is ready!</p>
        <form id="connect_to_cryosparc" action="/rnode/<%= host %>/<%= port %>/login" method="post" target="_blank">
        <input type="hidden" name="email" value="<%= user_email %>">
        <input id="cryosparc_pw" type="hidden" name="password" value="8ab009293428a83350b8cc34733e401290a64963afd88c0d6d52ca89d5373bab">
        <button class="btn btn-primary" type="submit">
            <i class="fa fa-eye"></i> Connect to CryoSPARC
        </button>
    </form>
    </div>
</div>
<script>
    function checkConnectionStatus(cardID, url){
        fetch(url).then((response) => {
            if(response.ok) setCardConnected(cardID);
            else {
                const intervalID = setInterval(() => {
                    fetch(url).then((response) => {
                        if(response.ok){
                            setCardConnected(cardID);
                            clearInterval(intervalID);
                        }
                    });
                }, 5000);
            }
        });
    }
    
    //change the card to show the that the server is ready
    function setCardConnected(cardID){
        let card = document.getElementById(cardID);
        card.querySelector('div[name="waiting"]').style.display = "none";
        card.querySelector('div[name="ready"]').style.display = "block";
    }
    
    checkConnectionStatus("card<%= session_id %>", "/rnode/<%= host %>/<%= port %>/login");
    //check if user has extension installed
    window.addEventListener("load", (event) => {
      if (!document.getElementById("extension_installed")) {
        let card = document.getElementById("card<%= session_id %>");
        card.querySelector('div[name="warning"]').style.display = "block";
        card.querySelector('div[name="ready"] button').disabled = true;
    }
    });
</script>